{% extends "base.html" %}

{% block footer %}
<p style="text-align:center;"><img src="https://deic-hpc.github.io/EuroCC-knowledgepool/overrides/assets/images/DeiC.png" 
    alt="DeiC logo"
    style="float:above left;width:100px;">

  
    This documentation is part of the EuroHPC Competence Center in Denmark, managed by DeiC.dk.
   
    <img src="https://deic-hpc.github.io/EuroCC-knowledgepool/overrides/assets/images/EuroCC.jpg" 
    alt="EuroCC logo"
    style="float:above right;width:50px;">
</p>
{% endblock %}