{% extends "base.html" %}

{% block footer %}
<p style="text-align:center;">
  
    This documentation is part of the EuroHPC Competence Center in Denmark, managed by DeiC.dk.

</p>
{% endblock %}

{% block libs %}
<!-- Glow Cookies v3.0.1 -->
<script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.4/src/glowCookies.min.js"></script>
<script>
    glowCookies.start('en', { 
        style: 2,
        analytics: 'G-0SFSYQYBDW',
        bannerDescription: 'We use Google Analytics (GA) cookies to analyze web traffic.',
        bannerLinkText: 'More info about GA and possibility to completely Opt-Out',
        policyLink: 'https://tools.google.com/dlpage/gaoptout'
    });
</script>
{% endblock %}
