{% extends "base.html" %}

{% block footer %}
<p style="text-align:center;"><img src="https://www.deic.dk/sites/default/files/uploads/image/DeiC%20logo%20FINAL%20CMYK.png" 
    alt="DeiC logo"
    style="float:above left;width:100px;">

  
    This documentation is part of the EuroHPC Competence Center in Denmark, managed by DeiC.dk.
   
    <img src="https://media.enccs.se/2021/01/EuroCC-Logo_free.png" 
    alt="EuroCC logo"
    style="float:above right;width:50px;">
</p>
{% endblock %}

{% block analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0SFSYQYBDW"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-0SFSYQYBDW');
</script>
{% endblock %}